<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8'>
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet"
   href= "{{ url_for('static',filename='styles/styles.css')}}">
   <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
</head>
<body>
<div id='cssmenu'>
<ul>
<li><img  style="height:7vh; padding-right:4px;padding-left:4px;" src="/static/images/icon.jpg" style=""></li>
<li><label style="height:7vh;padding-right:4px;font-size:28px;font-weight:bold;margin-top:5px;
padding-top:4px;">The Butterfly</label></li>
</ul>
</div><br>
<a href="/" style="color:#EE731D;font-size:20px;margin-left:5px;">Home</a><br>
<div style="margin-left:5%;margin-right:20%;">
<p style="font-size:40px;font-weight:bold;">Do I Have Hypothyroidism? Take the 1-Minute Quiz</p>
<p style="font-size:30px;font-style:italic;">These questions guide you through common signs, symptoms, and other key factors used to diagnose an underactive thyroid.</p>
<p style="font-size:20px;font-family:cursive;color:#A47698">Signs and symptoms experienced by people with an underactive thyroid are very common and could suggest hypothyroidism but are associated with many conditions or may mean nothing of concern. More importantly,  blood tests to evaluate the thyroid function are assessed when the doctor believes there is cause to check for an underactive thyroid. All of these factors, as well as your personal and family medical history, will be considered in determining the cause and severity of hypothyroidism. 
</p><p style="font-size:20px;font-family:sans-serif;color:#556600">
This quiz is intended to be informational. Only your doctor can make an accurate diagnosis after a thorough review of your health status.</p>
<button style="background-color:#EE731D;color:white;width:100px;height:30px;font-size:15px;
			font-weight:bold"
onclick="window.location.href ='risk'">Start Quiz</button>
</div>

</body>
</html> 